body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f0f0f;
  color: white;
}

.container {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #000;
}

.logo {
  height: 50px;
}

.navbar a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  color: #ccc;
  margin-bottom: 25px;
}

.hero button {
  background: #e10600;
  border: none;
  padding: 12px 25px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.hero-img {
  width: 450px;
  border-radius: 10px;
}

.products {
  padding: 80px 60px;
  background: #111;
}

.products h2 {
  text-align: center;
  margin-bottom: 50px;
}

.card-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.about, .contact {
  padding: 80px 60px;
  text-align: center;
}

.footer {
  background: black;
  text-align: center;
  padding: 20px;
  color: #777;
}
